<div class="col-lg-4 mt-3 mb-3">
    <div class="card">
      <img
        src="https://images.mironet.cz/foto/3/90625899/MVFN2CZ-A-01.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Macbook Air</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
          nisi soluta, dolorem quo non neque voluptas commodi nobis,
          maiores molestias aliquid corrupti quaerat temporibus ducimus?
        </p>
        <a href="#" class="btn btn-primary">Buy now</a>
      </div>
    </div>
  </div>

  <!-- Card -->
<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title"><a>Card title</a></h4>
      <!-- Text -->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Button -->
      <a href="#" class="btn btn-primary">Button</a>
  
    </div>
  
  </div>
  <!-- Card -->