<nav class="main-navigation">
  <div class="navbar-header animated fadeInUp">
      <a class="navbar-brand" href="/home">Dan's Eshop</a>
  </div>
  <ul class="nav-list">
      <li class="nav-list-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li> 
      <li class="nav-list-item">
        <a class="nav-link" routerLink="/categories">Categories</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-list-item">
        <a class="nav-link" routerLink="/cart">Cart</a>
      </li>
  </ul>

</nav>

<script type="text/javascript">


const inputKey = document.getElementById("inputKey");

const inputValue = document.getElementById("inputValue");

const btnInsert = document.getElementById("btnInsert");

const lsOutput = document.getElementById("lsOutput");

btnInsert.onclick = function() {

  const key = inputKey.value;
  const value = inputValue.value;

  console.log(key);
  console.log(value);

  if (key && value) {
    localStorage.setItem(key, value);
    location.reload();
  }
};


 for (let i = 0; i < localStorage.length; i++) {
   const key = localStorage.key(i);
   
 }
</script>
<router-outlet></router-outlet>